body {
  margin: 0;
}

label, input, fieldset {
  margin-top: 10px;
}

fieldset {
  border-width: 2px;
  border-color: black;
}

#h1Index, iframe {
  text-align: center;
}

#indexImg {
  display: block;
  border-radius: 50%;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
}

option, select {
  background-color: lightgray;
}

figcaption {
  border-style: dotted;
}

#if {
  background-color: green;
  padding-left: 0px;
  padding-right: 100%;
  margin: 0;
}

#my_menu {
  background-color: #282828;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px 0px;
}

.menuLink {
  padding: 16px 16px;
}

#sobre {
  margin-left: auto;
  margin-right: 0;
}

#my_menu a {
  color: #f1f1f1;
  text-decoration: none;
}


.menuLink:hover {
  background-color: red;
}

#submit {
  border: 0;
  width: 100%;
  color: white;
  background-color: green;
  padding: 15px;
}

ul, li {
  margin-left: 0;
  margin-bottom: 10px;
}

.entrar {
  border: 0;
  background-color: lightgrey;
  margin-bottom: 10px;
  padding: 10px;
}